.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__current-group
        = @group.name
      .chat-main__header__left-box__member-list
        Member:
        .chat-main__header__left-box__member-list__memeber
          - @group.users.each do |user|
            = user.name

    .chat-main__header__right-box
      = link_to edit_group_path(@group) do
        Edit
          
  .chat-main__messages
    = render @messages

  .chat-main__form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'