.chat-side
  .chat-side__header
    .chat-side__header__box
      %p.chat-side__header__box__username
        = current_user.name
      %ul.chat-side__header__box__menu        
        %li.chat-side__header__box__edit
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'icon') 
        %li.chat-side__header__box__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon') 
  .chat-side__groups
    - current_user.groups.each do |group|
      .chat-side__groups__group
        = link_to "#" do
          %p.chat-side__groups__group__group-name
            = group.name
          %p.chat-side__groups__group__latest-message
            まだメッセージはありません